.container {
  max-height: 70vh;
  padding-right: 20px;
  overflow: auto;
  .btnStyle {
    background-color: var(--el-color-primary);
    color: #fff;
    &:hover {
      background-color: var(--el-color-primary);
      color: #fff;
    }
  }
}
